.animation-1{
    height:20vh;
    width: 30vw;
    background-color: #000;
    animation-name: changeColor;
    animation-duration: 5s;
}
@keyframes changeColor{
    from {background-color: #f00;}
    to {background-color: #00f;}
}
.animation-2{
    height: 20vh;
    width: 30vw;
    animation-name: changeColor2;
    animation-duration: 5s;
}
@keyframes changeColor2{
    0% {background-color: #0f0;}
    25% {background-color: #ffee00;}
    50% {background-color: pink;}
    75% {background-color: red;}
    100% {background-color: #000;}
}
.animation-3{
    height: 100px;
    width: 100px;
    background-color: #ff0000;
    animation-name: changeForm;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes changeForm{
    from {border-radius: 0;}
    to {border-radius: 50%;}
}
.animation-4{
    height:100px;
    width:100px;
    border-radius: 50%;
    background-color: #0f0;
    animation-name: bigger;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes bigger{
    0% {height: 100px; width:100px;}
    50% {height:300px; width:300px;}
    100% {height: 100px; width:100px;}
}
.animation-5{
    height: 100px;
    width: 100px;
    background-color: #ff00bb;
}
.animation-5:hover{
    animation-name: moveRight;
    animation-duration: 5s;
}
@keyframes moveRight{
    0%{transform: translate(0,0);}
    50%{transform: translate(100vw,0);}
    100%{transform: translate(0,0);}
}
.animation-6{
    height: 100px;
    width: 100px;
    background-color: #00c8ff;
    animation-name: moveDown;
    animation-duration: 5s;
}
@keyframes moveDown{
    0%{transform: translate(0,0);}
    50%{transform: translate(100vw,100vh);}
    100%{transform: translate(0,0);}
}
.animation-7{
    height: 100px;
    width: 100px;
    background-color: #b814f3;
    animation-name: move7;
    animation-duration: 10s;
}
@keyframes move7{
    0% {transform: translate(0,0);}
    25% {transform:translate(50vw,0);}
    50%{transform: translate(50vw,100vh);}
    75%{transform: translate(0,100vh);}
    100%{transform: translate(0,-100vh);}
}
.animation-8{
    height: 100px;
    width: 100px;
    background-color: #69f314;
    box-shadow: 3px 5px 11px 9px #000;
    animation-name: moveInside;
    animation-duration: 10s;
}
@keyframes moveInside{
    0%{transform: rotateX(0deg);}
    50%{transform: rotateX(65deg);}
    100%{transform: rotateX(0deg);}
}
.animation-9{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #3f00fc;
    animation-name: fallDown;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
@keyframes fallDown{
    from{transform: translate(0,0)}
    to{transform: translate(0,100vh);}
}